* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #121212;
}

.container {
  width: 90%;
  min-height: 100vh;
  margin: 40px auto;
  background-color: #ffffff;
}

.find-film {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

/* .find-film a:hover,
.find-film a:focus {
  color: rgb(117, 117, 220);
  transform: scale(1.1);
  font-weight: bold;
} */

/* @keyframes scaleAnimation {
  0% {
    transform: scale(1);
    color: whitesmoke;
  }
  50% {
   transform: scale(1.1); 
    color: rgb(117, 117, 220);
  }
  100% {
    transform: scale(1);
    color: whitesmoke;
  }
} */

.search-form {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 2.5vh;
  width: 85%;
  max-width: 900px;
  margin: 0 auto;
}

.search-input,
.search-button {
  border-radius: 3px;
  border: 1px solid #d1d5db;
  padding: 0.7rem 1.5rem;
  font-size: 16px;
}

.search-input {
  width: calc(70%);
}
.search-button {
  width: calc(30%);
}

.initial-display {
  display: flex;
  flex-direction: column;
  color: #dfdddd;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.display {
  margin-top: 30px;
}

.initial-display img {
  width: 10%;
}

/* when searched movie is displayed */

.movie {
  width: 80%;
  max-width: 900px;
  margin: 30px auto;
  padding-bottom: 20px;
  border-bottom: 1.5px solid #e5e7eb;
  list-style: none;
}

.movie:last-child {
  border: none;
  padding-bottom: 40px;
}

.remove-favourite {
  display: flex;
  white-space: nowrap;
}

.hidden-icon {
  display: none;
}

.show-icon {
  display: block;
}
